doctype html
html
  head
    meta(charset='utf-8')
    title= 'V4 Player Test'
    meta(name='viewport', content='width=device-width,initial-scale=1')
    script(src='//player.ooyala.com/static/v4/production/latest/core.min.js')
    script(src='//player.ooyala.com/static/v4/production/latest/video-plugin/main_html5.min.js')
    script(src='//player.ooyala.com/static/v4/production/latest/video-plugin/bit_wrapper.min.js')
    script(src='//player.ooyala.com/static/v4/production/latest/skin-plugin/html5-skin.js')
    link(rel='stylesheet', href='//player.ooyala.com/static/v4/production/latest/skin-plugin/html5-skin.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= 'V4 Player Test'
    div(id='container', style='width:640px;height:360px')
    script.
      var playerParam = {
        pcode: "!{pcode}",
        playerBrandingId: "!{playerId}",
        embedToken: "!{embedToken}",
        debug:true
      };
      OO.ready(function() {
        OO.Player.create('container', "!{embedCode}", playerParam);
      });
